:root {
    /*Primary colors*/
    --primary-color-pale-blue: hsl(225, 100%, 94%);
    --primary-color-bright-blue: hsl(245, 75%, 52%); 

    /*Neutral colors*/
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturate-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--primary-color-pale-blue);
}



.container{
    max-width: 450px;
}